{% extends 'layout.html' %}
{% block content %}
    <div class="media content-section">
      <img class="rounded mx-auto d-block" src="{{url_for('static',filename='picture/shop1.png')}}" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">{{search[1]}} {{search[4]}} {{search[5]}}</h5>
          <div>
              <h6 class="mt-0"> {{search[6]}} </h6>
          </div>
          From your position : Updated later Km
          <div>
              <a href="{{url_for('Dislike', shop_id=search[0])}}">
                  <button type="button" class="btn btn-danger">Dislike</button>
              </a>
              <a href="{{url_for('Like', shop_id=search[0])}}" name="like">
                  <button type="button" class="btn btn-success">Like</button>
              </a>


          </div>
      </div>
    </div>

{% endblock content %}